@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mark Trammell's Fan Site";
}


<h1>Mark Trammell</h1>
<img src="img/mark.jpeg" />

<p>
    In this class I want to learn how to build a productive and clean web app and
    feel confident in my skills as an enterprise application developer.
    I am eager to learn more on using ASP.NET and understanding how to use it in an
    impactful manner.
</p>
<br />
<p>Jobs I am interested in pursuing include:</p>
<ol>
    <li>Database Engineer</li>
    <li>UX/UI Design</li>
    <li>Professional Scuba Diver</li>
</ol>
